/* отступы для всего тела дока */
body {
    margin: 5; /* отступ */
    padding: 5; /* величина полей */
}

/* точечное центрирования картинки */
#imgcenter {
    margin: 5px 5px 15px 0; /* Отступы вокруг картинки */
}

/* увеличение и изменение шрифта в h2 */
h2{
    font-size: 20pt; /* Размер шрифта в пунктах */
}

/* раскраска каждого второго абзаца */
p:nth-child(even){
    color: #25755a;
}
